@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700);

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

body {
	background: #f1f1f1;
	color: #333;
	font-size: 1em;
	font-weight: 400;
	font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	color: #293d55;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #333;
}

.content {
	padding: 0 1em;
	margin: 0 auto;
	text-align: center;
	position: relative;
}

/* Header */
.codrops-header {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	text-align: center;
	z-index: 1000;
	font-size: 1.5em;
}

.codrops-header h1 {
	position: absolute;
	font-weight: 700;
	font-size: 4.5em;
	line-height: 1.2;
	color: #fff;
	z-index: 1000;
	padding: 0;
	margin: 0;
	left: 0;
	text-transform: uppercase;
	letter-spacing: 5px;
	width: 100%;
	top: 40%;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

.codrops-header h1 span {
	display: block;
	font-size: 35%;
}

.codrops-header h1 a {
	color: #eff62b;
}

.codrops-header h1 a:hover,
.codrops-header h1 a:focus {
	color: #fff;
}

.codrops-header h1 span::before,
.codrops-header h1 span::after {
	content: ' ― ';
	font-weight: 200;
}

.codrops-header h1 i {
	display: block;
	font-size: 15%;
	max-width: 40%;
	margin: 0 auto;
	line-height: 2;
	font-style: normal;
	font-weight: 400;
}



.fenix{
	position: absolute;
	margin-top: -211px;
	margin-left: 332px;
	z-index: -1;
}

.fenix:hover{
	-webkit-transition: left 5s ease-out, top 10s ease-out;
	transition:left 5s ease-out, top 10s ease-out;
}



/* To Navigation Style */
.codrops-top {
	width: 100%;
	font-weight: 500;
	font-size: 0.69em;
	line-height: 2.2;
	padding: 1em 0;
	position: absolute;
	z-index: 100;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.codrops-top a {
	color: #fff;
	display: inline-block;
	padding: 1em 2em;
	text-decoration: none;
	letter-spacing: 2px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Codrops demo links */
.codrops-demos {
	padding: 3em 0;
}

.codrops-demos a {
	font-weight: 700;
	font-size: 0.85em;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.5em 0;
	margin: 0 1.5em;
	display: inline-block;
	border-bottom: 2px solid transparent;
}

.codrops-demos a.current-demo {
	color: #333;
	border-color: #333;
}

ul.ref {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.ref li {
	padding: 1em 0;
}

/* Related demos */
.related {
	text-align: center;
	font-weight: 500;
	padding: 5em 0 4em;
}

.related > a {
	width: calc(100% - 20px);
	max-width: 340px;
	border: 1px solid black;
	border-color: initial;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	font-weight: 400;
	font-size: 0.925em;
	padding: 1em 0 0.3em;
	max-width: 300px;
	text-align: left;
}

body #cdawrap {
	background: none;
	border-color: rgba(0,0,0,0.3);
	position: absolute;
}

body #cdawrap a {
	color: #fff !important;
}
/*INIO DE TABLA DE PRESENTACION*/

.contenido{
	background-image: url(../img/Banco-img/vertical_cloth.png) ;
	padding: 0 1em;
	margin: 0 auto;
	text-align: justify;
	position: relative;
}
.contenido h2{
	text-align: center;
}
.col-fondo{
	background-color: #4D6B4D;
	border-radius: 11px;
	color: #BDDFE4;
}
/*FIN TABLA*/

.demo-1 #cdawrap,
.demo-3 #cdawrap {
	bottom: 40px;
	top: auto;
	right: 40px;
	left: auto;
}

.demo-2 #cdawrap,
.demo-4 #cdawrap {
	top: auto;
	bottom: 40px;
	left: 40px;
}

@media screen and (max-width: 60em) {
	.codrops-header h1 {
		font-size: 7em;
	}
}

@media screen and (max-width: 30em) {
	.wrap {
		height: 100vh !important;
		background: #3d4955;
	}
	.codrops-header {
		top: 100%;
	}
	.codrops-header h1 {
		padding-top: 5em;
	}
	.codrops-header h1 i {
		font-size: 42%;
		max-width: 90%;
	}
	.codrops-icon {
		font-size: 1.5em;
	}
	.codrops-icon span {
		display: none;
	}
}

/**
|--------------------------------------------------------------------------
| Clases
|--------------------------------------------------------------------------
*/

/* Este es el contenedor principal del grid, */
/* puede ser fijo ej. width: 940px */
/* o puede ser de ancho variable ej. max-width:940px */
/* EL VALOR SE DEBE MODIFICAR SEGUN LAS NECESIDADES DEL PROYECTO */
.container {
	max-width: 940px;
	margin: 0 auto;
}
/* Aqui se corrige el espacio para poder tener columnas anidadas */
/* EL VALOR DEBE SER IGUAL AL ESPACIO HORIZONTAL ENTRE COLUMNAS */
/* PERO EN NEGATIVO */
.row {
	margin: 0 -10px;
}
/* Aqui se define el espacio horizontal que hay entre columnas */
/* EL VALOR SE DEBE MODIFICAR SEGUN LAS NECESIDADES DEL PROYECTO */
.container,
[class^="col-"],
[class*=" col-"] {
	padding: 0 10px;
}
/* Aqui se definen los estilos de columna */
/* si el contenedor principal es fijo las columnas seran fijas, */
/* si es de ancho variable, tambien lo seran las columnas */
[class^="col-"],
[class*=" col-"] {
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	with: 100%;
}
/* Aqui se definen los tamanos para las 12 columnas del grid */
/* se pueden crear tamanos de columna personalizados, para */
/* esto tienes que crear una clase cuyo nombre */
/* inicie con "col-" y definiendo un tamano para */
/* la nueva columna */
.col-xs-1 { width: 8.33%; }
.col-xs-2 { width: 16.66%; }
.col-xs-3 { width: 25%; }
.col-xs-4 { width: 33.33%; }
.col-xs-5 { width: 41.66%; }
.col-xs-6 { width: 50%; }
.col-xs-7 { width: 58.33%; }
.col-xs-8 { width: 66.66%; }
.col-xs-9 { width: 75%; }
.col-xs-10 { width: 83.33%; }
.col-xs-11 { width: 91.66%; }
.col-xs-12 { width: 100%; }
/* clearfix */
.clearfix:after,
.container:after,
.row:after {
	content: "";
	display: table;
	clear: both;
}

/*
|--------------------------------------------------------------------------
| Estilos de la pagina
|--------------------------------------------------------------------------
*/



/*
|--------------------------------------------------------------------------
| Responsive Media Queries
|--------------------------------------------------------------------------
*/

@media (min-width: 768px) {

.container {
	max-width: 100%;
	padding: 0 0px;
}


.col-sm-1 { width: 8.33%; }
.col-sm-2 { width: 16.66%; }
.col-sm-3 { width: 25%; }
.col-sm-4 { width: 33.33%; }
.col-sm-5 { width: 41.66%; }
.col-sm-6 { width: 50%; }
.col-sm-7 { width: 58.33%; }
.col-sm-8 { width: 66.66%; }
.col-sm-9 { width: 75%; }
.col-sm-10 { width: 83.33%; }
.col-sm-11 { width: 91.66%; }
.col-sm-12 { width: 100%; }

}

@media (min-width: 992px) {

.col-md-1 { width: 8.33%; }
.col-md-2 { width: 16.66%; }
.col-md-3 { width: 25%; }
.col-md-4 { width: 33.33%; }
.col-md-5 { width: 41.66%; }
.col-md-6 { width: 50%; }
.col-md-7 { width: 58.33%; }
.col-md-8 { width: 66.66%; }
.col-md-9 { width: 75%; }
.col-md-10 { width: 83.33%; }
.col-md-11 { width: 91.66%; }
.col-md-12 { width: 100%; }

}